# Node
node_modules/
.npm/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env*

# Playwright
playwright-report/
test-results/

# Percy
.percy/

# VSCode
.vscode/

# Misc
*.local
*.swp
*.swo

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Macß
Icon?

# Others
*.log

# Ignore build artifacts
build/
dist/
